#background 
{
  background-image: url("Dungeon wall.png");
  background-position: left top;
  background-repeat: repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-attachment: fixed;

} 

h1
{
 padding-top: 70px;
 font-size: 64px;
}
.button1 
{
  background-color: #a71b61;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button1:hover 
{
  background-color: #9c1759;
  transform: translateY(2px);
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #191b24;
  position: fixed;
  top:0;
  width: 100%;
}

li 
{
  float: left;
}

li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;

}

li a:hover:not(.active) {
  background-color: #2a2b31;
}

.active 
{
  background-color: #335a35;
}

}
/*
p.notoSans
{
	font-family: "notoSans";
}
*/
.phaseIn 
{
  animation-name: play;
  animation-duration: 2.5s;
}
.topMargin
{
margin-top : 50px;
}

@font-face
{
	font-family: "slkscr"; src: url('slkscr.woff');
}

body
{
font-family: "slkscr";
}

p.solid
{
border-style: solid;
font-size: 10 

}

.entry
{
	background-color: #191b24;
	border-style: solid;
	border-color: #2a2b31;
	border-width: 7px;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

@keyframes play
{
  from {opacity: 0.01}
  to {opacity: 1.0}
}